#feedback-panel-stars, #feedback-panel-text, .feedback-panel-text-stars, #modal-text,
#modal-textStar, #modal-star, #modal-reject {
  @import "lib/bootstrap";
  @import "lib/bootstrap_custom";
  @import "lib/icons.min";

  z-index: 10000;
  font-family: sans-serif;

  .panelArea{
    z-index: 1000;
    border: 2px solid;
    border-image: linear-gradient(to right, #f27d52, #4992f2) 1;
  }

  .openTasks{
    display: none;
    margin-left: -90%;
    margin-right: -90%;
    margin-top: -25%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 14px;
  }

  #reject-modal-content {
    width: 30rem;
    top: 10rem;
    left: 33%;
    z-index: 100000;
  }

  .bg-danger {
    color: white;
  }

  .modal {
    z-index: 10000;
    position: fixed;
    background: rgba(85, 85, 85, 0.3);
  }
  .text-danger {
    display: none;
  }

  #textStar{
  padding: 0px;
  }

  .card-body {
    padding: 0px 15px 15px;
    background-color: white;
  }

  .dropdown-toggle{
    cursor: pointer;
  }

  .rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
  }

  .rating-0 {
    filter: grayscale(100%);
  }

  .rating > input {
    display: none;
  }

  .rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
  }

  .rating > input:checked ~ label,
  .rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }


  .rating > input:not(:checked) ~ label:hover,
  .rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
  }

  .card.arrow-left:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    left: 2px;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
  }

  .card.arrow-bottom:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 99%;
    left: 40%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
  }

  .card.arrow-right:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 55%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    left: 230px;
    transform: rotate(-135deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
  }

  .card.arrow-top:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 2%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    left: 130px;
    transform: rotate(135deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 8%);
  }

  .badge-right {
    position: relative;
    left: 230px;
    top: 60px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
    border-radius: 2rem !important;
    height: 2rem;
  }

  .badge-top {
    position: relative;
    left: 100px;
    top: -15px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
    border-radius: 2rem !important;
    height: 2rem;
  }

  .badge-bottom {
    position: relative;
    left: 95px;
    top: 188px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
    border-radius: 2rem !important;
    height: 2rem;
  }

  .badge-left {
    position: relative;
    left: -30px;
    top: 60px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
    border-radius: 2rem !important;
    height: 2rem;
  }

  .dropdown-toggle::after {
    content: "" !important;
  }

  .dropdown-menu-right {
    top: -110px;
    display: none;
    width: 200px;
   z-index: 10000;;
    left: -30px;
    margin-right: 0px;
  }

  .dropdown-menu::after {
    border: 0px !important;
  }

  .dropdown-menu::before {
    border: 0px !important;
  }

  #minimizeStars {
    margin-right: 5px;
  }

  #toggleStars {
    margin-right: 0px;
  }

  .success-checkmark {
    width: 230px;
    height: 168px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 30px;
    display: none;
    border: 2px solid;
    border-image: linear-gradient(to right, #f27d52, #4992f2) 1;

    .success-check-icon {
      width: 80px;
      height: 80px;
      position: relative;
      border-radius: 50%;
      box-sizing: content-box;
      border: 4px solid #4CAF50;

      &::before {
        width: 30px;
        transform-origin: 100% 50%;
        border-radius: 100px 0 0 100px;
      }

      &::after {
        top: 0;
        left: 30px;
        width: 60px;
        transform-origin: 0 50%;
        border-radius: 0 100px 100px 0;
        animation: success-icon-rotate-circle 4.25s ease-in;
      }

      &::before, &::after {
        content: '';
        height: 100px;
        position: absolute;
        background: #FFFFFF;
        transform: rotate(-45deg);
      }

      .success-icon-line {
        height: 5px;
        background-color: #4CAF50;
        display: block;
        border-radius: 2px;
        position: absolute;
        z-index: 10;

        &.line-tip {
          top: 46px;
          left: 14px;
          width: 25px;
          transform: rotate(45deg);
          animation: success-icon-line-tip 0.75s;
        }

        &.line-long {
          top: 38px;
          right: 8px;
          width: 47px;
          transform: rotate(-45deg);
          animation: success-icon-line-long 0.75s;
        }
      }

      .success-icon-circle {
        top: -4px;
        left: -4px;
        z-index: 10;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        position: absolute;
        box-sizing: content-box;
        border: 4px solid rgba(76, 175, 80, .6);
      }

      .success-icon-fix {
        top: 8px;
        width: 5px;
        left: 26px;
        z-index: 1;
        height: 85px;
        position: absolute;
        transform: rotate(-45deg);
        background-color: #FFFFFF;
      }
    }
  }

  @keyframes success-icon-rotate-circle {
    0% {
      transform: rotate(-45deg);
    }
    5% {
      transform: rotate(-45deg);
    }
    12% {
      transform: rotate(-405deg);
    }
    100% {
      transform: rotate(-405deg);
    }
  }

  @keyframes success-icon-line-tip {
    0% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    54% {
      width: 0;
      left: 1px;
      top: 19px;
    }
    70% {
      width: 50px;
      left: -8px;
      top: 37px;
    }
    84% {
      width: 17px;
      left: 21px;
      top: 48px;
    }
    100% {
      width: 25px;
      left: 14px;
      top: 45px;
    }
  }

  @keyframes success-icon-line-long {
    0% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    65% {
      width: 0;
      right: 46px;
      top: 54px;
    }
    84% {
      width: 55px;
      right: 0px;
      top: 35px;
    }
    100% {
      width: 47px;
      right: 8px;
      top: 38px;
    }
  }
}
