
#panelArea-star, #panelArea-text, #panelArea-textStar {
    z-index: 1000;
    border: 2px solid;
    border-image: linear-gradient(to right, #f27d52, #4992f2) 1;
}

#reject-modal-content {
    width: 80%;
}

.bg-danger {
    color: white;
}

.modal {
    z-index: 10000;
    position: fixed;
    background: rgba(85, 85, 85, 0.3);
}

.text-danger {
    display: none;
}

.text-primary {
    display: none;
}

#textStar {
    padding: 0px;
}

.card-body {
    padding: 0px 15px 15px;
}

#toggleStars, #toggleText, #toggleTextStar {
    cursor: pointer;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    overflow: hidden;
    flex-direction: row-reverse;
    position: relative;
}

.rating-0 {
    filter: grayscale(100%);
}

.rating > input {
    display: none;
}

.rating > label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: auto;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23e3e3e3' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 76%;
    transition: .3s;
}

.rating > input:checked ~ label,
.rating > input:checked ~ label ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23fcd93a' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}


.rating > input:not(:checked) ~ label:hover,
.rating > input:not(:checked) ~ label:hover ~ label {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='126.729' height='126.73'%3e%3cpath fill='%23d8b11e' d='M121.215 44.212l-34.899-3.3c-2.2-.2-4.101-1.6-5-3.7l-12.5-30.3c-2-5-9.101-5-11.101 0l-12.4 30.3c-.8 2.1-2.8 3.5-5 3.7l-34.9 3.3c-5.2.5-7.3 7-3.4 10.5l26.3 23.1c1.7 1.5 2.4 3.7 1.9 5.9l-7.9 32.399c-1.2 5.101 4.3 9.3 8.9 6.601l29.1-17.101c1.9-1.1 4.2-1.1 6.1 0l29.101 17.101c4.6 2.699 10.1-1.4 8.899-6.601l-7.8-32.399c-.5-2.2.2-4.4 1.9-5.9l26.3-23.1c3.8-3.5 1.6-10-3.6-10.5z'/%3e%3c/svg%3e");
}

.card.arrow-left:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50px;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(45deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
}

.card.arrow-bottom:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 99%;
    left: 40%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
}

.card.arrow-top:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    left: 60%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
}

.card.arrow-right:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 55%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    left: 100%;
    transform: rotate(-135deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 12%);
}

.card.arrow-top:after {
    z-index: 1000;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 2%;
    box-sizing: border-box;
    border: 1em solid black;
    border-color: transparent transparent #ffffff #ffffff;
    transform-origin: 0 0;
    left: 130px;
    transform: rotate(135deg);
    box-shadow: -1.2px 1.2px rgb(0 0 0 / 8%);
}

.badge-test {
    position: relative;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
}

.badge-top {
    position: relative;
    top: -20px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
}

.badge-bottom {
    position: relative;
    left: 95px;
    top: 188px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
}

.badge-left {
    position: relative;
    left: -30px;
    top: 60px;
    display: none;
    padding: 8px;
    color: white;
    background-color: #cf222e;
    cursor: pointer;
}

.dropdown-toggle::after {
    content: "" !important;
}

.dropdown-menu-right {
    width: 200px;
    z-index: 10000;;
    display: block;
    position: relative;
}

.dropdown-menu-right2 {
    width: 200px;
    z-index: 10000;;
    display: none;
    position: absolute;
    left: -30px;
    top: -110px;
    margin-right: 0px;
}

.dropdown-menu::after {
    border: 0px !important;
}

.dropdown-menu::before {
    border: 0px !important;
}

#minimizeStars {
    margin-right: 5px;
}

#toggleStars {
    margin-right: 0px;
}


@keyframes success-icon-rotate-circle {
    0% {
        transform: rotate(-45deg);
    }
    5% {
        transform: rotate(-45deg);
    }
    12% {
        transform: rotate(-405deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}

@keyframes success-icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes success-icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}

:root {
    --highlight-color: #2196F3;
}

.container-success {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.object {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
    background-color: white;
    border: 5px solid var(--highlight-color);
    border-radius: 50%;
}

.object__img {
    width: 90%;
    height: 90%;
    margin-left: 6%;
    margin-top: 6%;
}

.object__intro {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 300px;
    padding-left: 20px;
    color: var(--highlight-color);
}

.object__intro-text {
    line-height: 1.5;
}

.arrow {
    position: fixed;
    bottom: 80%;
    left: 50%;
    width: calc(50% - 150px);;
    height: 20%;
    transform: rotateZ(180deg);
    /* uncomment to see the arrow's rectangle bg*/
    /*   background: white;  */
}

.arrow__body {
    width: 100%;
    height: 95%;
    margin-left: 11px;
    border-width: 5px 0 0 5px;
    border-style: dashed;
    border-color: var(--highlight-color);
    border-top-left-radius: 100%;
}

.arrow__body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 20px 15px 0;
    border-style: solid;
    border-color: var(--highlight-color) transparent transparent;
}

@media (max-width: 768px) {
    .object__intro {
        top: -100%;
        left: 50%;
        transform: translate(-50%, 0);
        width: 70vw;
        padding: 0;
    }
}

.info-success {
    width: 500px;
}

.success-items {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.lds-dual-ring {
    display: none;
    width: 64px;
    height: 64px;
    margin-left: 25%;
    margin-top: 20%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 51.2px;
    height: 51.2px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #d3d3d3 transparent #d3d3d3 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
